body.dark{
background:#0f0f0f;
color:white;
font-family:Arial;
margin:0;
}

.auth-box{
width:320px;
margin:100px auto;
background:#1a1a1a;
padding:30px;
border-radius:10px;
text-align:center;
box-shadow:0 0 20px green;
}

input{
width:100%;
padding:10px;
margin:8px 0;
background:#222;
border:1px solid green;
color:white;
}

button{
background:green;
border:none;
padding:8px 15px;
margin:5px;
color:white;
cursor:pointer;
}

button:hover{
background:lime;
color:black;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:#1a1a1a;
}

.container{
width:60%;
float:left;
padding:20px;
}

.match{
background:#1c1c1c;
padding:15px;
margin-bottom:10px;
}

.betslip{
width:35%;
float:right;
background:#1a1a1a;
padding:20px;
height:100vh;
overflow:auto;
}

@media(max-width:768px){
.container,.betslip{
width:100%;
float:none;
height:auto;
}
}
