body.dark{
background:#0f0f0f;
color:white;
font-family:Arial;
margin:0;
}

.auth-box{
width:320px;
margin:100px auto;
background:#1a1a1a;
padding:30px;
border-radius:10px;
text-align:center;
box-shadow:0 0 20px green;
}

input{
width:100%;
padding:10px;
margin:8px 0;
background:#222;
border:1px solid green;
color:white;
border-radius:5px;
}

button{
background:green;
border:none;
padding:10px 15px;
margin:5px;
color:white;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:lime;
color:black;
}

.forgot{
color:lime;
cursor:pointer;
margin-top:10px;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:#1a1a1a;
}
